:root {
  --type-display-large-size: 3.5625rem;
  --type-display-large-line: 4rem;
  --type-display-large-tracking: -0.25px;

  --type-display-small-size: 2.25rem;
  --type-display-small-line: 2.75rem;
  --type-display-small-tracking: 0;

  --type-headline-medium-size: 1.75rem;
  --type-headline-medium-line: 2.25rem;
  --type-headline-medium-tracking: 0;

  --type-headline-small-size: 1.375rem;
  --type-headline-small-line: 1.75rem;
  --type-headline-small-tracking: 0;

  --type-title-large-size: 1.375rem;
  --type-title-large-line: 1.75rem;
  --type-title-large-tracking: 0;

  --type-title-medium-size: 1rem;
  --type-title-medium-line: 1.5rem;
  --type-title-medium-tracking: 0.15px;

  --type-title-small-size: 0.875rem;
  --type-title-small-line: 1.25rem;
  --type-title-small-tracking: 0.1px;

  --type-body-large-size: 1rem;
  --type-body-large-line: 1.5rem;
  --type-body-large-tracking: 0.5px;
  --type-body-large-weight: 400;
  --type-body-large-weight-emph: 500;

  --type-body-medium-size: 0.875rem;
  --type-body-medium-line: 1.25rem;
  --type-body-medium-tracking: 0.25px;
  --type-body-medium-weight: 400;
  --type-body-medium-weight-emph: 500;

  --type-body-small-size: 0.75rem;
  --type-body-small-line: 1rem;
  --type-body-small-tracking: 0.4px;
  --type-body-small-weight: 400;
  --type-body-small-weight-emph: 500;

  --type-label-large-size: 0.875rem;
  --type-label-large-line: 1.25rem;
  --type-label-large-tracking: 0.1px;
  --type-label-large-weight: 500;
  --type-label-large-weight-emph: 700;

  --type-label-medium-size: 0.75rem;
  --type-label-medium-line: 1rem;
  --type-label-medium-tracking: 0.5px;
  --type-label-medium-weight: 500;
  --type-label-medium-weight-emph: 700;

  --type-label-small-size: 0.6875rem;
  --type-label-small-line: 1rem;
  --type-label-small-tracking: 0.5px;
  --type-label-small-weight: 500;
  --type-label-small-weight-emph: 700;
}
